* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: green;
  line-height: 1.6;
  /* 100vh = altura del viewport */
  height: 100vh;
  /* option 1 oculta scroll-bar por defecto */
  /* overflow: hidden; */
}

details {
  margin-left: 90%;
}

details>ul {
  margin-left: -40vw;
  margin-top: -1.7vw;
}

details>summary {

  list-style-type: '🍔';
}

.container {
  height: 100%;
  width: 100%;
  /*option 1 CSS smooth scroll*/
  /* overflow-y: scroll;
   scroll-behavior: smooth;
   scroll-snap-type: y mandatory; */
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;

}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;

}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbar ul li a:hover {
  color: blue;
}

#images {
  /* margin-top: -15vmin; */
  min-height: 69em;
  margin-top: -30vmin;

}

#video {
  /* margin-top: -15vmin; */
  /* min-height: 250px; */
  margin-top: -20vmin;
}

section {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /*CSS smooth scroll*/
  scroll-snap-align: center;


}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}


video {
  width: 75%;
  height: 75%;
}





.contain {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card {
  position: relative;
  width: 260px;
  height: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05);
}

.card--image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card--image img {
  width: 140%;
  height: 140%;
  object-fit: cover;
}

.card--info {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  background: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  position: absolute;
  transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05), 0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065), 0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095), 0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16), 0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02), 0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03), 0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);
}

.card--info::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);
  z-index: 1;
  opacity: 0;
  transition: opacity 550ms ease;
}

/* Posicion box */
.card--info.info--1 {
  bottom: 15%;
  right: 15%;
}

.card--info.info--1 .info--image img {
  top: -195%;
  left: -240%;
}


.card--info.info--2 {
  bottom: 50%;
  right: 50%;
}

.card--info.info--2 .info--image img {
  right: -20%;
  bottom: -80%;
}


.card--info.info--3 {
  bottom: 80%;
  right: 48%;
}

.card--info.info--3 .info--image img {
  right: -130%;
  bottom: -250%;
}


.card--info .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--info .icon ion-icon {
  color: white;
}

.card--info .info--text {
  display: block;
  position: absolute;
  left: 10%;
  bottom: 5%;
  font-size: 0.55rem;
  letter-spacing: 1px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  z-index: 2;
  opacity: 0;
  transform: translateY(25%);
  transition: opacity 250ms ease, transform 250ms ease;
}

.card--info .info--image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card--info .info--image img {
  position: absolute;
  width: 340%;
  height: 340%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 550ms ease;
}

.card:hover .card--info {
  --size: 100px;
}

.card:hover .card--info::after {
  opacity: 1;
}

.card:hover .card--info.info--1 {
  right: 11%;
  transition-delay: 100ms;
}

.card:hover .card--info.info--2 {
  right: 60%;
}

.card:hover .card--info .info--image img {
  opacity: 1;
}

.card:hover .card--info .info--text {
  transition-delay: 550ms;
  opacity: 1;
  transform: translateY(0%);
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}

.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}

.support a:hover {
  transform: scale(1.1);
}









@media (max-width:1366px) {
  #video {
    /* margin-top: -15vmin; */
    /* min-height: 250px; */
    margin-top: -30vmin;
  }
}

  @media (max-width:900px) {
    #video {
      /* margin-top: -15vmin; */
      /* min-height: 250px; */
      margin-top: -40vmin;
    }
  }

    @media (max-width:750px) {
      #video {
        /* margin-top: -15vmin; */
        /* min-height: 250px; */
        margin-top: -50vmin;
      }
    }

      @media (max-width:650px) {
        #images {
          margin-top: -50vmin;
        }

        #video {
          /* margin-top: -15vmin; */
          /* min-height: 250px; */
          margin-top: -60vmin;
        }
      }

        @media (max-width:501px) {

          #video {
            /* margin-top: -15vmin; */
            /* min-height: 250px; */
            margin-top: -85vmin;
          }
        }